#ab{

    border: 3px solid;
    border-radius: 20px;
    height: 350px;
    width: 300px;
    background-color: aquamarine;
    color: red;
    text-align: center;


}
#a{

    border: 3px;
    border-radius: 20px;
    height: 70px;
    width: 250px;
    background-color: white;
    color: black;
    font-size: 20px;
}

button{

    border: 3px;
    border-radius: 20px;
    height: 50;
    width: 50px;
    background-color: aqua;
    color: red;

}